Google Big Query: Timestamp format when using extract to GCS as JSON new line

Hey,

we are using extract jobs with the [NEWLINE_DELIMITED_JSON format](https://cloud.google.com/bigquery/docs/reference/rest/v2/Job#JobConfigurationExtract.FIELDS.destination_format) to export data from BigQuery to CloudStorage.

When the export data contains a TIMESTAMP field, the resulting JSON entry looks like this:

```
"2020-09-11 09:18:26 UTC"
```

In PHP, this format can be represented as `Y-m-d H:i:s e`. Unfortunately, this format is not part of the built-in formats of [`DateTimeInterface`](https://www.php.net/manual/de/class.datetimeinterface.php):

```php
interface DateTimeInterface {
    const ATOM = 'Y-m-d\TH:i:sP';
    const COOKIE = 'l, d-M-Y H:i:s T';
    const ISO8601 = 'Y-m-d\TH:i:sO';
    const RFC822 = 'D, d M y H:i:s O';
    const RFC850 = 'l, d-M-y H:i:s T';
    const RFC1036 = 'D, d M y H:i:s O';
    const RFC1123 = 'D, d M Y H:i:s O';
    const RFC2822 = 'D, d M Y H:i:s O';
    const RFC3339 = 'Y-m-d\TH:i:sP';
    const RFC3339_EXTENDED = 'Y-m-d\TH:i:s.vP';
    const RFC7231 = 'D, d M Y H:i:s \G\M\T';
    const RSS = 'D, d M Y H:i:s O';
    const W3C = 'Y-m-d\TH:i:sP';
//...
}
```

## Questions

- Why are you choosing this (non-standard?) format?
- OR is there a specific name for this format?


@jdpedrie Let's chat about this in Tuesday's meeting to see if there is something we should do here to fix/explain. 

Hi @paslandau, sorry for the delayed response. Since this issue is related to backend behavior, we can't do much to answer here. I suggest you raise this on the [public issue tracker](https://issuetracker.google.com), where the backend team can take a look and provide more details.